:root {
    --background: #f6f6f6;
    --font: #222;
    --border: #333;
    --screen: #eee;
    --calculator: #aaa;
    --btn: #eee;
    --btn-hover: #ddd;
    --btn-active: #ccc;
    --btn-red: #faa;
    --btn-red-hover: #e99;
    --btn-red-active: #d88;
    --btn-blue: #aaf;
    --btn-blue-hover: #99e;
    --btn-blue-active: #88d;
  }

button{
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    width: 30px;
    height: 30px;
    /* what is vh */
}

.num, 
.operand, 
.equal{
    width: 50px;
    height:50px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}


html {
    background-color:#eee;
    /* footer support */
    position: relative;
    min-height: 100%;
  }

button:hover{
    filter: brightness(85%);
}

button:active{
    filter: brightness(50%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator{
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 20px;
    background-color: #aaa;
    width: 400px;
    height: 500px;
    border: 2px var(--border) solid;

}

.display{
    border:1px solid purple;
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    background-color:#eee;
    height:100px;
}

.previousDisplay{
    min-height: 32px;
    font-size: 20px;
  }
  
.currentDisplay{
    min-height: 64px;
    font-size: 40px;
}

.row1{
    display:flex;
    justify-content: space-between;
}



/* i don't want to have the width for these buttons hard-coded */

.clear{
    width:150px;
    background-color: #faa;
}

.delete{
    width:150px;
    background-color: #aaf;
}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.gh-logo {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease-in-out;
  }
  
.gh-logo:hover {
    transform: rotate(360deg) scale(1.2);
}

.other-rows{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;


}